@font-face {
    font-family: "PokemonHollow";
    src: url("./fonts/Pokemon\ Hollow.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "PokemonSolid";
    src: url("./fonts/Pokemon\ Solid.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "MyFont";
    src: url("./fonts/You\ Warm\ My\ Heart.otf");
    font-weight: normal;
    font-style: normal;
}

body{
    background-image: url("./images/background.webp");
    background-position: center;
    background-size: cover;
    height: 100vh;
    text-align: center;
    margin: 0px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.aboutMe{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2em;
    background-color: rgba(255, 255, 255, 0.832);
    box-shadow: 0 0 3em black;
}
.imgBox{
    position: relative;
    width: 22em;
    margin-bottom: .5em;
    }
    .imgBox img{
        width: 100%;
    }
.charName{
    position: absolute;
    font-family: PokemonSolid, Arial, Helvetica, sans-serif;
    font-size: 2em;
    color: white;
    bottom: .3em;
    left: 2em;
    letter-spacing: .1em;
    text-shadow: 0 0 5px black;
}
.content{
    background-color: white;
    width: 22em;
    margin-top: 0px;
    font-family: MyFont, Arial, Helvetica, sans-serif;
}
.title{
    margin: 0px;
}
.text{
    font-weight: 600;
    margin-top: 0px;
}
.links{
    background-color: white;
    width: 22em;
}
.link{
    background-color: transparent;
    border: none;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.832);
    margin-bottom: 0px;
}

.titlePokemon{
    font-family: PokemonSolid, Arial, Helvetica, sans-serif;
    letter-spacing: .3em;
    font-size: 2.5em;
    margin: 0px;
}
.pokemon{
    display: flex;
    gap: 3em;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.pok{
    width: 22em;
    background-color: white;
    box-shadow: 0 0 1em black;
}
.imgPokemon{
    width: 100%;
}
.titlePok{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px;
    height: 2em;
    font-family: PokemonSolid, Arial, Helvetica, sans-serif;
    letter-spacing: .6em;
}
.linksPok{
    display: flex;
    align-items: center;
}
.icon{
    width: 1.8em;
    height: 1.8em;
    color: black;
}
.pokText{
    margin-top: 0px;
    font-weight: 600;
    font-family: MyFont, Arial, Helvetica, sans-serif;
    padding: .5em 2em;
    text-align: start;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.832);
    font-family: PokemonHollow, Arial, Helvetica, sans-serif;
}
footer h3{
    margin: 0px;
    font-size: 2em;
}
footer img{
    width: 100%;
}
.textFooter{
    text-align: start;
    font-family: MyFont, Arial, Helvetica, sans-serif;
    padding: 0 1em;
    margin: 0px;
}
footer .footer{
    margin-top: 2em;
    width: 22em;
    background-color: white;
    box-shadow: 0 0 2em black;
}
.linksF{
    display: flex;
    justify-content: center;
}
.linkF{
    width: 3em;
    background-color: transparent;
    border: none;
}

@media(min-width: 500px) and (max-width: 999px){
    .aboutMe{
        display: inline-block;
        box-shadow: none;
        width: 100%;
        padding: 2em 5em;
    }
    .imgBox{
        margin: 0 4em;
        width: 20em;
        float: left;
        margin-right: 1rem;
    }
    .imgBox img{
        box-shadow: 0 0 2em black;
    }
    .charName{
        left: 1em;
        width: 22em;
        top: 2em;
        font-size: 2em;
    }
    .content{
        margin-top: 9em;
        margin-left: 8em;
        width: 32em;
        padding: 1em;
        box-shadow: 0 0 2em black;
    }
    
    .links{
        display: none;
    }
    .pok{
        width: 18em;
    }
    footer .footer{
        width: 100%;
        display: flex;
        justify-content: start;
    }
    footer img{
        width: 20em;
        margin: 2em;
        box-shadow: 0 0 .5em black;
    }
    .contactMe h3{
        padding: 0 .5em;
        text-align: start;
    }
    .link img{
        width: 2em;
    }

    .linksF{
        display: flex;
        justify-content: start;
        gap: 1em;
    }
    .linkF img{
        width: 3em;
        background-color: transparent;
        border: none;
        box-shadow: none;
    }
}

@media(min-width: 1000px){
    .aboutMe{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 2em;
        align-items: center;
        box-shadow: none;
    }
    .imgBox{
        width: 32em;
        height: 24em;
        box-shadow: 0 0 1em black;
    }
    .content{
        width: 32em;
        text-align: start;
        padding: 3em 1em 1em 1em;
        box-shadow: 0 0 1em black;
    }
    .links{
        display: flex;
        width: 32em;
        justify-content: end;
    }
    .title{
        margin-bottom: .6em;
    }
    main{
        align-items: start;
        box-shadow: none;
    }
    .titlePokemon{
        margin-left: 6em;
    }
    .pokemon{
        gap: 5em;
        padding: 0em 12em;
    }
    footer .footer{
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 3em;
    }
    footer img{
        width: 20em;
    }
    .contactMe{
        text-align: start;
    }
    .textFooter{
        padding: 0px;
        padding-right: 3em;
    }
    button:hover{
        cursor: pointer;
    }
    .linksF{
        justify-content: start;
    }
    .linkF img{
        width: 2em;
    }
}
